# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Software programmer cum verification expert
email: vijayakumar.durairaj@gmail.com
description: Quality Engineering Leader with 17 years of
experience in developing and directing end-to-end test strategies for complex,
high-transaction enterprise systems across diverse domains, including EV Mobility, Fintech,
Insurance, and Retail Banking. Proven expertise in Automation Architecture using Robot
framework, BDD Cucumber, and TestNG, and critical knowledge in Performance Testing
(JMeter, Load Runner). Currently focused on AI integration and QA transition analysis,
positioning teams for future data-driven product quality. Successfully transitioned quality
efforts from execution to strategic leadership, with expertise in managing global testing
teams, recruitment, and performance appraisals. Seeking a Principal/Director-level role to
drive technological modernization and scale Quality Engineering practices.

url: https://github.com/vijayakumarcnp/portfolio
#twitter_username: username
github_username: vijayakumarcnp
minimal_mistakes_skin: default
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Vijayakumar Durairaj"
  avatar : "/assets/images/profile.jpg"
  bio    : "Principal Test Architect turned front-end developer"
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://vijayakumarcnp.github.io/"
   # - label: "Twitter"
   #   icon: "fab fa-fw fa-twitter-square"
   #   url: "https://twitter.com/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/vijayakumarcnp/"
    - label: "Linkedin"
      icon: "fa-brands fa-linkedin"
      url: "https://www.linkedin.com/in/vijayakumarcnp/"

footer:
  links:
    #- label: "Twitter"
    #  icon: "fab fa-fw fa-twitter-square"
    #  url: "https://twitter.com/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/vijayakumarcnp/"
    - label: "Linkedin"
      icon: "fa-brands fa-linkedin"
      url: "https://www.linkedin.com/in/vijayakumarcnp/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
